body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

#js-todo-form {
    display: flex;
    margin-bottom: 20px;
}

#js-todo-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
}

#js-todo-form button {
    padding: 10px 15px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

#js-todo-stats {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #e9e9e9;
    border-radius: 4px;
}

#js-todo-stats li {
    padding: 10px;
    font-size: 14px;
}

#js-todo-list {
    list-style-type: none;
    padding: 0;
}

#js-todo-list ul {
    padding: 0;
}

.todo-item {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.todo-item .checkbox {
    margin-right: 10px;
}

.todo-item .todo-item-title {
    flex-grow: 1;
    margin-right: 10px;
}

.todo-item.completed .todo-item-title {
    text-decoration: line-through;
    color: #888;
}

.todo-item.editing {
    display: flex;
}

.todo-item.editing input {
    flex-grow: 1;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 5px;
}

.todo-item.editing input[type="checkbox"] {
    flex-grow: 0;
    visibility: hidden;
}

.todo-actions {
    display: flex;
}

.todo-actions button,
.todo-item .delete {
    margin-left: 5px;
    padding: 5px 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.todo-actions button.edit {
    background: #4CAF50;
}

.todo-item .delete {
    background-color: #f44336;
    transition: background-color 0.3s;
}

.todo-item .delete:hover {
    background-color: #d32f2f;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.todo-item .edit-input {
    display: none;
}

.todo-item.editing .todo-item-title {
    display: none;
}

.todo-item.editing .edit-input {
    display: inline;
}